@font-face {
	font-family: 'Futura';
	src: local('FuturaPT'),
		url('../fonts/futurabookc-webfont.woff2') format('woff2'),
		url('../fonts/futurabookc-webfont.woff') format('woff'),
		url('../fonts/futurabookc-webfont.ttf') format('ttf'),
		url('../fonts/futurabookc-webfont.eot') format('eot');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: local('FuturaDemiC'),
		url('../fonts/futurademic-webfont.woff2') format('woff2'),
		url('../fonts/futurademic-webfont.woff') format('woff'),
		url('../fonts/futurademic-webfont.ttf') format('ttf'),
		url('../fonts/futurademic-webfont.eot') format('eot');
	font-weight: bold;
  font-style: normal;
}