// брейкпоинты
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1200px;


//шрфиты
$BASE-FONT: 'Futura', Helvetica, Arial, sans-serif;

//z-index

//colors

$WHITE: #ffffff;
$BLACK: #000000;
$LIGHT-BLUE: #29d3d1;
$ORANGE: #eb645a;
$ARROW-BG: #f48078;
$L-GRADIENT: linear-gradient(to top, #f0efef, #fafafa); 



///
$CONTENT-W: 1180;
$ARROWS-W: 1280;

// дизайнернские размеры
$DISIGN-W: 1600;
$DISIGN-Wm: 750;
$DISIGN-H: 900px;
$DISIGN-W-M: 320px;
$DISIGN-H: 568px;
