-
	let copyright = {
		mainblock: {
			title: 'ТОЛЬКО ЛУЧШИЕ АКЦИИ',

			app: {
				title: 'загрузить',
				list: [
					{
						attr: {href:'#', class:'button_app'},
						icon: {class:'mainblock__iconapp', src: 'images/download_ios.svg', alt: 'App store'},
						tag: 'a',
					},
					{
						attr: {href:'#', class:'button_app'},
						icon: {class:'mainblock__iconapp', src: 'images/download_android.svg', alt: 'Google play'},
						tag: 'a',
					},
				]
			},

			phone : {
				attr: {src: 'images/mainblock__phone.png', alt: 'phone1'},
			},

			buttonPart : { 
				attr: {href:'#', class:['button_transparentBtn', 'button_partner']},
				text: 'СТАТЬ ПАРТНЕРОМ',
				tag: 'a',
			},

			buttonDown : {
				attr: {href:'#', class:['button_blueBtn', 'button_down', 'goto']},
				icon: {class:'mainblock__arrow', src: 'images/arrow_down.svg', alt: 'Стрелка'},
				text: 'вниз',
				tag: 'a',
			}
		},


		advantages:{
			list: [
				{
					attr: {class:'advantages__card_like'},
					icon: {src: 'images/like.svg', alt: 'like'},
					title: 'Только лучшее',
					text: 'Всегда актуальные <br>акции и скидки у вас в телефоне'
				},
				{
					attr: {class:'advantages__card_geo'},
					icon: {src: 'images/geo.svg', alt: 'geo'},
					title: 'Все рядом',
					text: 'Находите ближайшие акции <br>на карте рядом с вами.'
				},
				{
					attr: {class:'advantages__card_bell'},
					icon: {src: 'images/bell.svg', alt: 'bell'},
					title: 'Уведомления',
					text: 'Подписывайтесь только на то, <br>что вас интересует и всегда будьте <br>в курсе новых акций.'
				},
				{
					attr: {class:'advantages__card_sheet'},
					icon: {src: 'images/sheet.svg', alt: 'sheet'},
					title: 'Каталог',
					text: 'Огромный каталог с информацией <br>о магазинах, брендах и ТЦ всегда <br>под рукой.'
				}
			]
		},


		menu: {
			list: [
				{
					attr: {class:'menu__item_favorites'},
					title: 'ИЗБРАННОЕ',
					text: '<p>Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное.</p><p>Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное Избранное.</p>',
					image: {src: 'images/phone2_favorites.jpg', alt: 'screenphone2'},
				},
				{
					attr: {class:'menu__item_actions'},
					title: 'ПРОФИЛЬ АКЦИИ',
					text: '<p>Вы всегда получите полную информацию об акции: подробное описание, бренд, магазины и торговые центры где походит акция.</p><p>Также доступна возможность сразу перейти на сайт товара и купить в рамках действующей акции.</p>',
					image: {src: 'images/phone2_actions.jpg', alt: 'screenphone2'},
				},
				{
					attr: {class:'menu__item_subscriptions'},
					title: 'ПОДПИСКИ',
					text: '<p>Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки.</p><p>Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки Подписки.</p>',
					image: {src: 'images/phone2_subsribtions.jpg', alt: 'screenphone2'},
				},
				{
					attr: {class:'menu__item_map'},
					title: 'КАРТА',
					text: '<p>Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта.</p><p>Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта Карта.</p>',
					image: {src: 'images/phone2_map.jpg', alt: 'screenphone2'},
				},
				{
					attr: {class:'menu__item_list'},
					title: 'МОЯ ЛЕНТА',
					text: '<p>Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента.</p><p>Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента Моя лента.</p>',
					image: {src: 'images/phone2_list.jpg', alt: 'screenphone2'},
				},
			],
			phone: {
				attr: {src: 'images/phone2.png', alt: 'phone2'},
			}
		},


		stock: {
			title: 'наши акции',
			text: 'Каждый день в Москве проходят распродажи. <br>В акциях и скидках дня могут принимать участие любые группы <br>товаров. Особенно популярны распродажи одежды и обуви, <br>распродажи мебели, распродажи сумок.',
			stockList:[
				{
					attr: {class:'stock__phone_right'},
					image: {src: 'images/phone3_2.png', alt: 'phone4'},
				},
				{
					attr: {class:'stock__phone_left'},
					image: {src: 'images/phone3_1.png', alt: 'phone3'},
				}
				
			]
		},


		partners: {
			title: 'наши партнеры',
			text: 'Хотите стать партнером? <br>Напишите нам и про ваши акции узнают все.',
			button: { 
				attr: {href:'#', class:['button_blueBtn', 'button_ourpartner']},
				text: 'СТАТЬ ПАРТНЕРОМ',
				tag: 'a',
			},
			list: [
				{
					attr: {},
					image: {src: 'images/logos/logo_prada.png', alt: 'Логотип prada'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_nike.png', alt: 'Логотип nike'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_cym.png', alt: 'Логотип ЦУМ'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_adidas.png', alt: 'Логотип adidas'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_gum.png', alt: 'Логотип ГУМ'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_zara.png', alt: 'Логотип zara'},
				},
				{
					attr: {},
					image: {src: 'images/logos/logo_carlo.png', alt: 'Логотип carlo'},
				},        
			]
		},


		footer: {
	    text: '2016 © SHOPGUIDE',
	    list: [
	      {
	        attr: {href:'#'},
	        text: 'политика конфиденциальности'
	      },
	      {
	        attr: {href:'#'},
	        text: 'правила пользования'
	      }], 
	    button: { 
	      attr: {href:'#', class:['button_transparentBtn', 'button_contact']},
	      icon: {class:'footer__logo', src: 'images/contact.svg', alt: 'contact'},
	      text: 'СВЯЗАТЬСЯ С НАМИ',
	      tag: 'a',
	    } 
	  }

	}